<div class="register-container">
    <h2>Регистрация</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="form-container"> 
        
        <div class="form-group">
            <label for="firstName">Имя: </label>
            <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" />
            <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                <div *ngIf="f.firstName.errors.required">Поле "Имя" пусто!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="lastName">Фамилия: </label>
            <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" />
            <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                <div *ngIf="f.lastName.errors.required">Поле "Фамилия" пусто!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="username">Логин: </label>
            <input type="text" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Необходим логин!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="password">Пароль: </label>
            <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                <div *ngIf="f.password.errors.required">Пароль не введен!</div>
                <div *ngIf="f.password.errors.minlength">Пароль не должен быть менее 6 букв!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="address">Адрес: </label>
            <input type="text" formControlName="address" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" />
            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                <div *ngIf="f.address.errors.required">Необходим адрес!</div>
                <div *ngIf="f.address.errors.minlength">Введите корректный адрес!</div>
            </div>
        </div>
        <div class="form-group">
            <label for="phonenumber">Номер телефона: </label>
            <input type="text" formControlName="phonenumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phonenumber.errors }" />
            <div *ngIf="submitted && f.phonenumber.errors" class="invalid-feedback">
                <div *ngIf="f.phonenumber.errors.required">Необходим номер телефона!</div>
                <div *ngIf="f.phonenumber.errors.minlength">Введите корректный номер телефона!</div>
            </div>
        
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Зарегистрироваться
            </button>
            <a routerLink="/login" class="btn btn-link">Назад</a>
        </div>
    </form>
</div>
